on:
  issues:
    types: [opened]

jobs:
  create-card:
    runs-on: ubuntu-latest
    name: A job to create card.
    steps:
    - name: Create the Trello card from the opened issue.
      uses: mps-actions/issue-to-trello-card@main
      env:
        TRELLO_KEY: ${{ secrets.TRELLO_KEY }}
        TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}
      with:
        list-id: 606bc4f57b8ab34aa24a9a17
        name: ${{ github.event.issue.title}}
