on:
  issues:
    types: [opened]

jobs:
  create-card:
    runs-on: ubuntu-latest
    name: A job to create card.
    steps:
    - name: Echo sample secret.
      id: echo-sample-secret
      uses: mps-actions/issue-to-trello-card@main
      env:
        SAMPLE_SECRET: ${{ secrets.SAMPLE_SECRET }}